$font-mont: "Montserrat", sans-serif;
$font-rale: "Raleway", sans-serif;
$hover: all 0.2s ease-in-out;
$bg-home: url("../img/bg-home.jpg");

@mixin container-centred {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@mixin style-h3 {
  color: #333;
  font-size: 32px;
  font-weight: 400;
}

@mixin style-p {
  color: #747474;
  font-size: 15px;
  font-weight: 500;
  line-height: 2.27;
  width: 800px;
  margin: 0 auto;
}

@mixin flex-centred {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin primary-button-s {
  background: $primary-color;
  max-width: max-content;
  text-transform: uppercase;
  padding: 13px 29px;
  font-size: 14px;
  color: #333;
  transition: $hover;
  letter-spacing: 2px;
  font-family: $font-mont;

  &:hover {
    background-color: $secondary-color;
    color: #fff;
  }
}

@mixin primary-button-l {
  max-width: max-content;
  background: $primary-color;
  text-transform: uppercase;
  padding: 17px 40px;
  font-size: 18px;
  color: #333;
  color: #333;
  transition: $hover;
  letter-spacing: 2px;
  font-family: $font-mont;

  &:hover {
    background-color: $secondary-color;
    color: #fff;
  }
}
