$font-mont: "Montserrat", sans-serif;
$font-rale: "Raleway", sans-serif;
$hover: all 0.2s ease-in-out;
$bg-home: url("../img/bg-home.jpg");

@mixin container-centred {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@mixin style-h3 {
  color: #333;
  font-size: 32px;
  font-weight: 400;
}

@mixin style-p {
  color: #747474;
  font-size: 15px;
  font-weight: 500;
  line-height: 2.27;
  width: 800px;
  margin: 0 auto;
}

@mixin flex-centred {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
