// common style

@import "partials/colors";
@import "partials/variables";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: $font-rale;

  ul {
    list-style: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

// inizio style header

.menu {
  width: 100%;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.17);
  background: #fff;

  &-container {
    @include container-centred;
    @include flex-centred;
    padding: 20px 0;

    .logo {
      width: 227px;
      cursor: pointer;

      img {
        width: 100%;
      }
    }

    .link {
      display: flex;
      align-items: center;

      li {
        transition: $hover;
        font-family: $font-mont;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 300;
        margin-left: 45px;

        a:focus,
        a:hover {
          color: $primary-color;
          transition: $hover;
        }

        &:last-child {
          cursor: pointer;
          background: $primary-color;
          padding: 13px 29px;

          &:hover {
            background: $secondary-color;
            color: #fff;
          }
        }
      }
    }
  }
}

.jumbotron {
  background: $bg-home no-repeat center center;
  background-size: cover;
  height: calc(100vh - 122px);
  margin-top: 122px;

  &-container {
    @include container-centred;
    height: 100%;
    display: flex;

    .row {
      margin: auto;
      text-align: center;

      h1 {
        font-size: 60px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 700;
      }

      h3 {
        font-size: 24px;
        color: $primary-color;
        font-weight: 400;
        padding: 20px 0;
      }

      .buttons {
        display: flex;
        justify-content: center;

        .button {
          font-size: 18px;
          font-weight: 400;
          letter-spacing: 2px;
          color: #fff;
          text-transform: uppercase;
          padding: 17px 40px;
          background-color: $secondary-color;
          margin: 10px;
          transition: $hover;

          &:hover {
            background-color: $primary-color;
            color: $secondary-color;
          }

          &:last-child {
            background-color: $primary-color;
            color: $secondary-color;

            &:hover {
              background-color: $secondary-color;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.bunner {
  background-color: $primary-color;

  &-container {
    @include container-centred;
    text-align: center;
    padding: 50px 30px;

    h2 {
      font-size: 32px;
      font-weight: 400;
      color: #333;
    }
  }
}

.free-quote {
  margin-top: -22px;
  display: flex;
  justify-content: center;

  .button {
    background: $secondary-color;
    font-size: 14px;
    text-transform: uppercase;
    padding: 13px 29px;
    color: #fff;
    letter-spacing: 2px;
    border: 2px solid #fff;
    transition: $hover;

    &:hover {
      background: #fff;
      color: $secondary-color;
      border: 2px solid $secondary-color;
    }
  }
}

// fine style header

// inizio style main

.skills {
  &-container {
    @include container-centred;
    text-align: center;

    .description {
      padding: 100px 0 80px 0;

      h3 {
        @include style-h3;
      }

      hr {
        margin: 25px auto;
        border: 1px solid $primary-color;
        border-radius: 10px;
        width: 206px;
      }

      p {
        margin: 0 auto;
        @include style-p;
        width: 800px;
      }
    }

    .cards {
      padding-bottom: 80px;
      display: flex;

      .flip-card {
        position: relative;
        background-color: transparent;
        width: 300px;
        height: 365px;
        perspective: 1000px;
        padding: 20px;

        &-inner {
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          transition: transform 0.8s;
          transform-style: preserve-3d;
          transition: all 0.2s ease-in-out;
        }

        &:hover .flip-card-inner {
          transform: rotateY(180deg);
        }

        &-front {
          padding: 27px 20px;
          border-radius: 10px;
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          background-color: #f5f5f5;

          .icon {
            display: flex;
            margin: 10px auto;
            height: 64px;
            width: 64px;
            border: 1px solid #747474;
            border-radius: 50%;
            background-clip: padding-box;
            color: #747474;

            i {
              margin: auto;
              font-size: 24px;
            }
          }

          h3 {
            @include style-h3;
          }

          p {
            @include style-p;
          }
        }

        &-back {
          padding: 27px 20px;
          border-radius: 10px;
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          background-color: $primary-color;
          color: $secondary-color;
          transform: rotateY(180deg);

          h4 {
            padding-bottom: 20px;
            font-size: 18px;
            font-weight: 400;
            text-transform: uppercase;
          }

          p {
            @include style-p;
          }

          .button {
            padding: 13px 29px;
            width: max-content;
            margin: 10px auto;
            background-color: #ffe07b;
            transition: $hover;

            &:hover {
              background-color: $secondary-color;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
