// common style

@import "partials/colors";
@import "partials/variables";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: $font-rale;

  ul {
    list-style: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

// utility style

.line-description {
  margin: 25px auto;
  border: 1px solid $primary-color;
  border-radius: 10px;
  width: 206px;
}

// separator style
.separatore-top {
  height: 100px;
  width: 100%;
  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    height: 550px;
    left: -20%;
    right: -20%;
    border-radius: 50%;
    top: -455px;
    background: #fff;
  }
}

.separatore-bottom {
  height: 100px;
  width: 100%;
  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    height: 550px;
    left: -20%;
    right: -20%;
    border-radius: 50%;
    bottom: -455px;
    background: #fff;
  }
}

// layer effect
.layer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scaleY(0);
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: $primary-color;
  transition: all 0.3s ease-in-out;
  color: #fff;

  .icons {
    i {
      margin-right: 10px;
      font-size: 20px;
      border-radius: 50%;
      color: $primary-color;
      background-color: #fff;
      padding: 15px;
    }
  }

  h4 {
    font-size: 18px;
    font-weight: 400;
    padding: 15px 0;
  }

  p {
    font-size: 13px;
    font-weight: 600;
  }
}
.card:hover .layer {
  height: 100%;
  opacity: 1;
  transform: scaleY(1);
}

// inizio style header

.menu {
  z-index: 1;
  width: 100%;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.17);
  background: #fff;

  &-container {
    @include container-centred;
    @include flex-centred;
    padding: 20px 0;

    .logo {
      width: 227px;
      cursor: pointer;

      img {
        width: 100%;
      }
    }

    .link {
      display: flex;
      align-items: center;

      li {
        transition: $hover;
        font-family: $font-mont;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 300;
        margin-left: 45px;

        a:focus,
        a:hover {
          color: $primary-color;
          transition: $hover;
        }

        &:last-child {
          cursor: pointer;
          background: $primary-color;
          padding: 13px 29px;

          &:hover {
            background: $secondary-color;
            color: #fff;
          }
        }
      }
    }
  }
}

.jumbotron {
  background: $bg-home no-repeat center center;
  background-size: cover;
  height: calc(100vh - 122px);
  margin-top: 122px;

  &-container {
    @include container-centred;
    height: 100%;
    display: flex;

    .row {
      margin: auto;
      text-align: center;

      h1 {
        font-size: 60px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 700;
      }

      h3 {
        font-size: 24px;
        color: $primary-color;
        font-weight: 400;
        padding: 20px 0;
      }

      .buttons {
        display: flex;
        justify-content: center;

        .button {
          font-size: 18px;
          font-weight: 400;
          letter-spacing: 2px;
          color: #fff;
          text-transform: uppercase;
          padding: 17px 40px;
          background-color: $secondary-color;
          margin: 10px;
          transition: $hover;
          cursor: pointer;

          &:hover {
            background-color: $primary-color;
            color: $secondary-color;
          }

          &:last-child {
            background-color: $primary-color;
            color: $secondary-color;

            &:hover {
              background-color: $secondary-color;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.bunner {
  background-color: $primary-color;

  &-container {
    @include container-centred;
    text-align: center;
    padding: 50px 30px;

    h2 {
      font-size: 32px;
      font-weight: 400;
      color: #333;
    }
  }
}

.free-quote {
  margin-top: -22px;
  display: flex;
  justify-content: center;

  .button {
    background: $secondary-color;
    font-size: 14px;
    text-transform: uppercase;
    padding: 13px 29px;
    color: #fff;
    letter-spacing: 2px;
    border: 2px solid #fff;
    transition: $hover;
    cursor: pointer;

    &:hover {
      background: #fff;
      color: $secondary-color;
      border: 2px solid $secondary-color;
    }
  }
}

// fine style header

// inizio style main

.skills {
  &-container {
    @include container-centred;
    text-align: center;

    .description {
      padding: 100px 0 80px 0;

      h3 {
        @include style-h3;
      }

      p {
        @include style-p;
      }
    }

    .cards {
      padding-bottom: 80px;
      display: flex;

      .flip-card {
        width: 300px;
        min-height: 330px;
        perspective: 1000px;
        padding: 20px;

        &-inner {
          position: relative;
          transform-style: preserve-3d;
          transition: all 0.2s ease-in-out;
        }

        &:hover .flip-card-inner {
          transform: rotateY(180deg);
        }

        &-front {
          height: 100%;
          padding: 27px 20px;
          border-radius: 10px;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          background-color: #f5f5f5;

          .icon {
            display: flex;
            margin: 10px auto;
            height: 64px;
            width: 64px;
            border: 1px solid #747474;
            border-radius: 50%;
            background-clip: padding-box;
            color: #747474;

            i {
              margin: auto;
              font-size: 24px;
            }
          }

          h3 {
            @include style-h3;
          }

          p {
            @include style-p;
            width: auto;
          }
        }

        &-back {
          height: 100%;
          padding: 17px 20px;
          border-radius: 10px;
          position: absolute;
          top: 0;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          background-color: $primary-color;
          color: $secondary-color;
          transform: rotateY(180deg);

          h4 {
            padding-bottom: 10px;
            font-size: 18px;
            font-weight: 400;
            text-transform: uppercase;
          }

          p {
            @include style-p;
            width: auto;
          }

          .button {
            padding: 13px 29px;
            width: max-content;
            margin: 10px auto;
            background-color: #ffe07b;
            transition: $hover;
            cursor: pointer;

            &:hover {
              background-color: $secondary-color;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.data-counter {
  width: 100%;
  background: url("../img/bg-data-section.jpg") no-repeat center center;
  background-size: cover;

  &-container {
    @include container-centred;
    height: 400px;
    display: flex;

    .data-box {
      margin: auto;
      text-align: center;
      color: $primary-color;
      font-weight: 500;

      i {
        font-size: 70px;
      }

      .number {
        padding: 10px;
        font-size: 60px;
      }

      p {
        font-size: 18px;
        color: #fff;
      }
    }
  }
}

.work-container {
  @include container-centred;

  .description {
    padding-top: 80px;
    text-align: center;

    h3 {
      @include style-h3;
    }

    p {
      @include style-p;
    }
  }

  .cards {
    padding: 80px 0;
    display: flex;

    .card {
      cursor: pointer;
      position: relative;
      width: calc(100% / 3);
      margin: 10px;

      img {
        width: 100%;
      }
    }
  }

  .work-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;

    .btn-w {
      text-align: center;
      width: calc(100% / 3);
      text-transform: uppercase;
      font-weight: 300;
      font-size: 14px;
      letter-spacing: 2px;
      padding: 13px 29px;
      cursor: pointer;
      transition: $hover;

      &:hover {
        background-color: $primary-color;
      }
    }

    hr {
      width: calc(100% / 3);
      margin: 0 20px;
      border: 1px solid #f5f5f5;
    }
  }
}

.values {
  background-color: #f5f5f5;

  &-container {
    @include container-centred;

    .description {
      text-align: center;
      padding: 80px 0 50px 0;

      h3 {
        @include style-h3;
      }

      p {
        @include style-p;
      }
    }

    .values-cards {
      display: flex;
      padding-bottom: 80px;

      .card {
        width: calc(100% / 4);
        text-align: center;

        .hover-effect {
          position: relative;
          &:hover .icon {
            background: $primary-color;
            transform: scale(0.9);
          }
          &:hover .icon::after {
            animation: animate 1.3s linear;
          }

          &:hover h5 {
            color: $primary-color;
          }

          .i-1 {
            background: #4ea4a5;
          }

          .i-2 {
            background: #4e6da5;
          }

          .i-3 {
            background: #f6722a;
          }

          .i-4 {
            background: #a7cf47;
          }
        }

        .icon {
          transition: $hover;
          margin: auto;
          width: 120px;
          height: 120px;
          border-radius: 50%;
          display: flex;

          &::after {
            content: "";
            position: absolute;
            left: 0px;
            top: 0px;
            right: 0px;
            bottom: 0px;
            -webkit-box-shadow: 0px 0px 16px 7px #fed23f;
            box-shadow: 0px 0px 16px 7px #fed23f;
            border-radius: 50%;
            opacity: 0;
          }

          @keyframes animate {
            0% {
              opacity: 0;
              transform: scale(0.9);
            }
            50% {
              opacity: 1;
              transform: scale(1.1);
            }

            70% {
              opacity: 8;
              transform: scale(1.2);
            }

            95% {
              opacity: 0;
              transform: scale(1.4);
            }

            100% {
              opacity: 0;
              transform: scale(1.5);
            }
          }

          i {
            color: #fff;
            font-size: 61px;
            margin: auto;
          }
        }

        h5 {
          transition: $hover;
          font-size: 16px;
          font-weight: 400;
          margin: 20px 0;
        }

        hr {
          width: 20px;
          margin: 10px auto;
          border: 1px solid #8f8f8f;
          border-radius: 20px;
        }

        p {
          @include style-p;
          width: auto;
          padding: 10px;
        }
      }
    }
  }
}

.testimonial {
  background: red;

  &-container {
    @include container-centred;
    height: 300px;
    border: 2px solid red;
  }
}
